@page "/"
@inject IEventService eventService
@using EventApp.Services

<PageTitle>Home</PageTitle>

@foreach(var _event in events)
{
    <tr>
        <td>@_event.Name</td>
        <td>@_event.Description</td>
    </tr>
}

@code
{
    private List<Entities.Event> events = new();
    protected override void OnInitialized()
    {
        events = eventService.GetEvents();
        base.OnInitialized();
    }
}
