@page "/"
@inject IEventService eventService
@using EventApp.Services

<PageTitle>Home</PageTitle>

@foreach (var _event in events)
{
    <div class="border rounded-3 p-1 m-2 w-75">
        <div class="fw-bold">
            <NavLink class="nav-link text-black" href="@($"Event/{_event.Id}")">
            @_event.Name
            </NavLink>
        </div>
        <div class="small">
            @_event.Description
        </div>
    </div>
}

@code
{
    private List<Entities.Event> events = new();
    protected override void OnInitialized()
    {
        events = eventService.GetEvents();
        base.OnInitialized();
    }
}
