@using EventApp.Components.Identity

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Wydarzenia</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill" aria-hidden="true"></span> Strona Główna
            </NavLink>
        </div>

        <AuthorizeView>
            @if (context.User.IsInRole("Admin"))
            {
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="AdminPanel">
                        <span class="bi bi-lock" aria-hidden="true"></span> Panel Administratora
                    </NavLink>
                </div>
            }
            @if (context.User.IsInRole("Member"))
            {
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="MyEvents">
                        <span class="bi bi-lock" aria-hidden="true"></span> Moje Wydarzenia
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="AddEvent">
                        <span class="bi bi-lock" aria-hidden="true"></span> Dodaj Wydarzenie
                    </NavLink>
                </div>
            }
        </AuthorizeView>

        <AuthorizeView>
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/Account/Manage">
                        <span class="bi bi-person-fill" aria-hidden="true"></span> @context.User.Identity?.Name
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <LogoutForm id="logout-form" />
                    <NavLink class="nav-link" href="#" onclick="document.getElementById('logout-form').submit(); return false;">
                        <span class="bi bi-arrow-bar-left" aria-hidden="true"></span> Wyloguj
                    </NavLink>
                </div>
            </Authorized>
            <NotAuthorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/Account/Register">
                        <span class="bi bi-person" aria-hidden="true"></span> Zarejestruj się
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/Account/Login">
                        <span class="bi bi-person-badge" aria-hidden="true"></span> Zaloguj
                    </NavLink>
                </div>
            </NotAuthorized>
        </AuthorizeView>
    </nav>
</div>
